header {
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 70px;
}

section#rules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

article h2 {
    font-size: 30px;
}

article p {
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form div.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 20px;
}

form div.radio-container {
    display: flex;
    align-items: center;
}

form button {
    font-size: 20px;
    width: 100px;
    margin-top: 20px;
}

form #playerTwoNameContainer {
    display: none;
    justify-content: center;
    gap: 15px;
}

div#gameScreen {
    display: none;
}

div#gridDisplay {
    display: grid;
    margin: auto;
    width: 450px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
}

div#gridDisplay div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    font-size: 100px;
}

div#gridDisplay div.win {
    background-color: lightgreen;
}

div#scoreDisplay {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

div#scoreDisplay p {
    font-size: 50px;
}

dialog {
    text-align: center;
}

dialog h2 {
    font-size: 30px;
}

dialog p {
    font-size: 20px;
}

dialog div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

dialog div button {
    font-size: 20px;
    width: 70px;
}

dialog div button#restart:hover {
    background-color: rgb(43, 190, 43);
}

dialog div button#home:hover {
    background-color: red;
}