html {
    background-color: lightyellow;
}

header {
    padding: 20px;
    margin-bottom: 15px;
    border: 5px solid brown;
    background-color: sandybrown;
}

header h1 {
    text-align: center;
    font-size: 70px;
    margin: 0;
}

#connect4,
#connectFourRules {
    display: none;
}

section#rules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 4px dotted orange;
    background-color: rgb(248, 202, 118);
    padding: 20px 5px;
}

article h2 {
    font-size: 30px;
    margin-top: 0;
}

article p {
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form div.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 20px;
}

form div.radio-container {
    display: flex;
    align-items: center;
}

form button {
    font-size: 20px;
    width: 100px;
    margin-top: 20px;
}

form button:hover {
    background-color: orange;
}

form #playerTwoNameContainer {
    display: none;
    justify-content: center;
    gap: 15px;
}

div#gameScreen {
    display: none;
    justify-content: space-around;
    border: 4px solid orange;
    background-color: rgb(248, 202, 118);
    border-radius: 10px;
    padding: 20px 10px;
}

div#gridDisplay.tictactoe {
    display: grid;
    margin: auto;
    width: 450px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    border: 3px solid black;
}

div#gridDisplay.connectFour {
    display: grid;
    margin: auto;
    width: 525px;
    grid-template-columns: repeat(7, 75px);
    grid-template-rows: repeat(6, 75px);
    border: 5px solid blue;
    border-radius: 10px;
    background-color: rgb(91, 91, 248);
}

div#gridDisplay.tictactoe div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    background-color: white;
    font-size: 100px;
}

div#gridDisplay.connectFour div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid blue;
    border-radius: 100%;
    background-color: white;
    font-size: 50px;
}

div#gridDisplay div.win {
    background-color: lightgreen;
}

div#buttonDisplay button {
    height: 65px;
    width: 65px;
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 100%;
}

div#buttonDisplay button:hover {
    background-color: orange;
}

div#scoreDisplay {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

div#scoreDisplay p {
    font-size: 40px;
}

dialog {
    text-align: center;
}

dialog h2 {
    font-size: 30px;
}

dialog p {
    font-size: 20px;
}

dialog div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

dialog div button {
    font-size: 20px;
    width: 70px;
}

dialog div button#restart:hover {
    background-color: rgb(43, 190, 43);
}

dialog div button#home:hover {
    background-color: red;
}

@media screen and (max-width: 1000px) {
    header h1 {
        font-size: 40px;
    }

    div#gridDisplay.tictactoe {
        width: 225px;
        grid-template-columns: repeat(3, 75px);
        grid-template-rows: repeat(3, 75px);
    }

    div#gridDisplay.connectFour {
        width: 245px;
        grid-template-columns: repeat(7, 35px);
        grid-template-rows: repeat(6, 35px);
    }

    div#gridDisplay.tictactoe div {
        font-size: 50px;
    }

    div#gridDisplay.connectFour div {
        font-size: 30px;
    }

    div#scoreDisplay p {
        font-size: 20px;
    }

    div#buttonDisplay button {
        height: 30px;
        width: 30px;
        margin: 3px;
        font-size: 10px;
    }
}

@media screen and (max-width: 524px) {
    div#gameScreen {
        flex-direction: column;
        align-items: center;
    }

    div#scoreDisplay {
        width: 80%;
        gap: 5px;
    }

    form div.settings {
        flex-direction: column;
        gap: 10px;
        font-size: 15px;
    }

    article h2,
    form h2 {
        font-size: 20px;
    }

    article p {
        font-size: 15px;
    }

    form #playerTwoNameContainer {
        gap: 10px;
        margin-top: 10px;
    }
}